<div id="login" class="container">
  <p id="title" align="center">MGBI/ MONITORING</p>
   <p class="sign" align="center">Connexion</p>

   <%= render "form.html", Map.put(assigns, :action, Routes.auth_path(@conn, :auth)) %>

   </div>
