<h1>New Rights clients</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.rights_clients_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.rights_clients_path(@conn, :index) %></span>
