<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <title>MGBI/ Monitoring</title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@socket, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@socket, "/assets/app.js")}></script>
  </head>
  <body class="body-bg">
    <script>0</script>

    <header class="site-header">

      <div class="wrapper site-header__wrapper">

        <img class="profile-pic-header" src={Routes.static_path(@socket, "/#{PmLogin.Login.get_profile_picture(Plug.Conn.get_session(@socket, :curr_user_id)) }")} width="50"/>
        <%= link "Monitoring - Mgbi", to: Routes.user_path(@socket, :index), class: "brand" %>
        <nav class="nav">
          <a  class="menu-btn nav__toggle"><div class="menu-btn__burger"></div></a>
          <ul class="nav__wrapper">

            <li class="nav__item">
              <div class="dropdown">
                <a href="#" class="dropbtn">▼<i class="bi bi-people-fill"></i> Espace administrateur</a>
                <div class="dropdown-content basecontents__without__radius">
                  <%= link "Projets", to: Routes.project_path(@socket, :index)%>
                  <%= link "Sociétés", to: Routes.company_path(@socket, :index) %>
                  <%= link "Utilisateurs", to: Routes.user_path(@socket, :list) %>
                  <%= link "Droits/Statuts", to: Routes.right_path(@socket, :index) %>
                  <%= link "Clients", to: Routes.active_client_path(@socket, :index) %>
                </div>
              </div>
            </li>

            <li class="nav__item"><a href={Routes.user_path(@socket, :index)}><i class="bi bi-house-fill"></i> Accueil</a></li>
            <li class="nav__item"><a href={ Routes.user_path(@socket, :show, Plug.Conn.get_session(@socket, :curr_user_id)) }><i class="bi bi-person-circle"></i> Profil</a></li>
          </ul>
        </nav>
      </div>


    </header>


    <main id="main" role="main" class="container">
      <p class="alert alert-info basecontents" role="alert"><%= get_flash(@socket, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@socket, :error) %></p>

      <%= @inner_content %>
      <br/>
      <br/>

      <span>
        <a href={Routes.auth_path(@socket, :sign_out)} class="btn btn-outline-danger btn-lg"><i class="bi bi-box-arrow-left"></i> Déconnexion</a>
      </span>
        </main>
  </body>
  <footer id="foot" class="container-fluid">
    <div id="footcont" class="container">
      <p><span id="copyright__icon" class="material-icons">copyright</span>copyright MGBI / Project monitoring</p>
    </div>

  </footer>
</html>
