<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <title>MGBI/ Monitoring</title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@socket, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@socket, "/assets/app.js")}></script>
  </head>
  <body class="body-bg">
    <script>0</script>

    <header class="site-header">

      <div class="wrapper site-header__wrapper">
        <%= link "Monitoring - Mgbi", to: Routes.user_path(@socket, :index), class: "brand" %>
        <nav class="nav">
          <a  class="menu-btn nav__toggle"><div class="menu-btn__burger"></div></a>
          <ul class="nav__wrapper">
            <li class="nav__item"><a href={ Routes.user_path(@socket, :index) } class="nav__item__link"><span class="material-icons mat__ico">home</span><p>Accueil</p></a></li>
            <li class="nav__item">
              <div class="dropdown">
                <a href={ Routes.user_path(@socket, :show, @curr_user_id) } class="nav__item__link">
                <img class="profile-pic-header" src={Routes.static_path(@socket, "/#{PmLogin.Login.get_profile_picture(@curr_user_id) }")} width="50" style="position: relative;top: 5px;"/>
                <p><%= PmLogin.Login.get_user!(@curr_user_id).username %></p></a>
                <div class="dropdown-content">
                  <a href={ Routes.user_path(@socket, :show, @curr_user_id) } class="admin__links" style="display: flex;justify-content: space-between;">
                    <p>Mon profil</p><p><i class="bi bi-person my-profile-icons"></i></p>
                  </a>
                  <a href={ Routes.auth_path(@socket, :sign_out) } class="admin__links" style="display: flex;justify-content: space-between;">
                    <p style="color: red;">Se déconnecter</p><p style="color: red;"><i class="bi bi-box-arrow-right deconnexion__icon"></i></p>
                  </a>
                </div>
              </div>
            </li>

          </ul>
        </nav>
      </div>


    </header>


    <main id="main" role="main" class="container" phx-hook="AnimateAlert">
      <p class="alert alert-info basecontents" role="alert"
        phx-click="lv:clear-flash" id="alert_anim"
        phx-value-key="info"><%= live_flash(@flash, :info) %><%= if not is_nil(live_flash(@flash, :info)) do %><i class="bi bi-x alert__cross"></i><% end %></p>

      <p class="alert alert-danger" role="alert"
        phx-click="lv:clear-flash"
        phx-value-key="error"><%= live_flash(@flash, :error) %></p>
      <%= @inner_content %>
      <br/>
      <br/>

    </main>
  </body>
  <footer id="foot" class="container-fluid">
    <div id="footcont" class="container">
      <p><span id="copyright__icon" class="material-icons">copyright</span>copyright MGBI / Project monitoring</p>
    </div>

  </footer>
</html>
