<h1><i class="bi bi-pencil-square"></i> Modifiers infos logiciel</h1>
<div class="basecontents__without__radius">
<%= render "form.html", Map.put(assigns, :action, Routes.software_path(@socket, :update, @software)) %>
</div>
<span><a href={Routes.software_path(@socket, :index)} class="btn btn-lg btn-secondary"><i class="bi bi-arrow-bar-left"></i> Retour</a></span>
