.alert-primary {
  display: flex;
  margin-top: 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  color: #fff;
  background-color: #0284C7;
  padding: 15px;
  font-size: 15px;
}

.card-info {
  display: flex;
  margin: 0 auto;
  border-radius: 5px;
  color: #2c3e50;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 16px 15px 15px 15px;
  font-size: 15px;
  width: auto;
  max-width: 900px;
  margin-bottom: 10px;
}

.card-info-fit {
  display: flex;
  /* margin: 0 auto; */
  border-radius: 5px;
  color: #2c3e50;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 16px 15px 15px 15px;
  font-size: 15px;
  width: fit-content;
  /* max-width: 900px; */
  margin-bottom: 10px;
}

.card-button-select {
  margin-top: 4px;
}

.card-button,
.card-button-green,
.card-button-orange {
  align-items: center;
  border: 0;
  border-radius: 3px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  height: 35px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}

.card-button {
  background-color: #0284C7;
}

.card-button-green {
  background-color: #1a9e51;
}

.card-button-orange {
  background-color: #e64922;
}


.card-button-green:hover,
.card-button-green:focus {
  background-color: #168544;
  color: #ffffff;
}

.card-button-orange:hover,
.card-button-orange:focus {
  background-color: #cb3f1c;
  color: #ffffff;
}

.card-button:hover,
.card-button:focus {
  background-color: #006ea5;
  color: #ffffff;
}

.card-button:hover,
.card-button:focus {
  background-color: #006ea5;
  color: #ffffff;
}

.card-button:active {
  background: #00557f;
  color: rgb(255, 255, 255, .9);
}

.card-button-green:active {
  background: #106d37;
  color: rgb(255, 255, 255, .9);
}

.card-button-orange:active {
  background: #bf3a19;
  color: rgb(255, 255, 255, .9);
}

.card-button:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.card-text-date {
  font-size: 10px;
  opacity: 0.65;
}


.col {
  padding-left: 12px;
  font-size: 12px;
  padding-top: 3px;
}

.card-text-content {
  max-width: 425px;
  width: auto;
  word-break: break-word;
  opacity: 0.65;
}

.card-text-username {
  max-width: 180px;
  word-break: break-word;
}

.card-image {
  max-width: 600px;
}

.card-avatar {
  position: relative;
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #626976;
  text-align: center;
  text-transform: uppercase;
  vertical-align: bottom;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #3498db no-repeat center/cover;
  border-radius: 4px;
  color: #fff;
}

.alert-text {
  margin-left: 9px;
}

.card-avatar-resize {
  width: 9%;
}

.card-info-text-resize {
  width: 30%;
}

.card-button-select-resize {
  width: 61%;
}

.card-button.clients_requests {
  width: 150px;
  border-radius: 0px;
  position: absolute;
  right: 7rem;
  cursor: inherit;
  height: 38px;
}

.date-seen.clients_requests {
  position: absolute;
  right: 8.5rem;
  font-size: 1rem;
  margin-top: 6rem;
}

@media (max-width: 875px) {

  .card-avatar-resize,
  .card-info-text-resize,
  .card-button-select-resize {
    width: auto;
  }
}