.card-style {
    position: relative;
    background: #0284C7;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    width: auto;
    height: auto;
    margin: 0 1em 1em;
    border-radius: 7px;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    transition: all 50ms ease-in-out;
    align-items: center;
    text-align: center;
}
.card-style:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

@media (max-width: 650px) {
    .card-style {
        width: auto;
        height: auto;
        margin-bottom: 15px;
    }
}
