/*
** The Header Media Queries **
** Tweak as per your needs **
*/

#main {
  padding-top: 40px;
}
#hamburger {
  width: 40px;
  height: 45px;
  font-size: 50px;
  margin-right: 10px;
  z-index: 1000;
}
/* hamburger color */
/* #0069d9 */
.brand {
  z-index: 1000;
  font-weight: bold;
  font-size: 22px;
  margin-top: 5px;
  text-shadow: 2px 2px 4px rgba(18, 20, 167, 0.3);
}

@media (max-width: 650px) {
  .brand {
    position: relative;
    font-weight: bold;
    font-size: 25px;
    margin: 0;
  }
}

.site-header {
  /* position: relative; */
  top: 0px;
  left: 0px;
  display: block;
  position: fixed;
  background-color: white;
  /* border-radius: 1.5em; */
  /* border-radius: 5px; */
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  z-index: 900;
  height: 30px;
}

@media (max-width: 900px) {
  #main {
    /* padding-top: 20%; */
  }
}

@media (max-width: 700px) {
  .site-header {
    position: fixed;
    height: 40px;
    z-index: 1000;
    -webkit-backface-visibility: hidden;
  }
}

.site-header__wrapper {
  padding-top: 5px;
  margin: auto;
  height: 30px;
  font-size: 13px;
}

@media (min-width: 700px) {
  .site-header__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 700px) {
  .nav__wrapper {
    display: flex;
    margin: auto;
  }
}

@media (max-width: 700px) {
  .nav__wrapper {
    margin: auto;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: white;
    visibility: visible;
    opacity: 0;
    overflow: visible !important;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    text-align: left;
  }

  .site-header nav li {
    text-align: left;
  }

  .nav__wrapper.active {
    /* border-radius: 1.5em; */
    z-index: 825;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

/* NAV__WRAPPER_PROJECT */
.nav__wrapper__project {
  margin: auto;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: -1;
  background-color: white;
  visibility: visible;
  opacity: 0;
  overflow: visible !important;
  transform: translateY(-100%);
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.nav__wrapper__project.active {
  /* border-radius: 1.5em; */
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/* .nav__toggle__proj { */
/* display: block;
  position: absolute;
  right: 1rem;
  top: 1rem;
  */
/* } */

.nav__item a {
  display: block;
  padding: 1.5rem 1rem;
  margin-top: -3px;
}

.mobile__notif {
  position: fixed;
  top: 75px;
  left: 20px;
  z-index: 700;
}

@media (min-width: 651px) {
  .mobile__notif {
    display: none !important;
  }
}

.mobile__notif__ico {
  font-size: 20px;
  transition: font-size 0.5s ease;
  text-shadow: 2px 2px 4px rgba(18, 20, 167, 0.3);

}

/* .mobile__notif__ico:hover {
  font-size: 30px;
} */

.nav__item__link>* {
  display: inline;
}

/* @media (max-width: 650px) {
  .nav__item__link p {
    display: none;
  }
} */

.nav__toggle {
  display: none;
}

@media (max-width: 650px) {
  .nav__toggle {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.header_link_text {
  /* font-weight: 600 !important; */

  /* box-shadow: 5px 1px 2px 1px rgba(104, 84, 84, 1); */
}

.nav__item__link>* {
  text-shadow: 2px 2px 4px rgba(18, 20, 167, 0.3);

}

.header__ico {
  text-shadow: 2px 2px 4px rgba(18, 20, 167, 0.3);

}