<h1>New Notification</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.notification_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.notification_path(@conn, :index) %></span>
