<span><a href={Routes.user_path(@socket, :edit_profile, @user)} class="btn btn-lg btn-secondary"><i class="bi bi-arrow-bar-left"></i> Retour</a></span>
<%= render "password_form.html", Map.put(assigns, :action, Routes.user_path(@socket, :update_password, @user)) %>
